<footer class="footer">
  <% if (@course == nil) %>	
    <a href="#">About</a> - <a href="/contact">Contact Us</a> - <a href="#">Terms of Use</a>
  <% else %>
    <a href="#">About</a> - <%= link_to "Contact Us", [@course, @course.teacher] %> - <a href="#">Terms of Use</a>
  <% end %>  
</footer>