<header> 
    <div>
      <h1>Course Name Goes Here</h1>
      <h3>Lecture Information Goes Here</h3> 
      <nav><ul>
        <li><%= link_to "Syllabus", 'courses' %></li>
        <li><%= link_to "Lectures", 'lecturenotes' %></li>
        <li><%= link_to "Assignments", 'assignments' %></li> 
      </ul> </nav> 
    </div>
</header>